export REACT_APP_GRAPHQL_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYXBwX21lYWxfZGVzaWduZXIiLCJwZXJzb25faWQiOiIyIiwiZXhwIjoxNjQ2MzIxODQyLCJpYXQiOjE2NDU3MTcwNDIsImF1ZCI6InBvc3RncmFwaGlsZSIsImlzcyI6InBvc3RncmFwaGlsZSJ9.CFxVRCKpaUNMtSNJQFATQVeGgWVP9pDhUpp3SbYfd-s
